mixin c-page-head(props = {})
	-
		props = Object.assign({}, props);

	header.c-page-head&attributes(attributes)
		nav.o-wrapper
			.o-cluster.u-justify-content-between
				a.u-py-012(href=f.url('/'))= metadata.siteTitle
				.u-d-contents(data-controller="modal-dialog-trigger")
					button.u-py-012(
						type="button",
						aria-haspopup="dialog",
						data-action="modal-dialog-trigger#open"
					) メニュー
					template(data-modal-dialog-trigger-target="template")
						+c-site-modal-menu
