@use "../../styles/settings" as s;
@use "../../styles/tools" as t;

.c-page-head {
	position: sticky;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	color: hsl(0, 0%, 100%);
	background-color: hsl(0, 0%, 10%);
	box-shadow: 0 t.rem(2) t.rem(4) hsla(0, 0%, 0%, 15%);
}
