header.header
	nav.center.overflow-hidden
		.cluster.cluster--space-x-6.justify-between
			a(href=url('/'))
				= metadata.siteTitle
				span.visually-hidden ホーム
			div
				ul.cluster.cluster--space-x-4
					each styleGuide in eleventyNavigation(collections.all, 'スタイルガイド').filter(page => page.url)
						li
							a(href=url(styleGuide.url))= styleGuide.title
