header.c-header
	nav.u-center.u-overflow-hidden
		.u-cluster.u-cluster--space-x-6.u-justify-between
			a(href=url('/'))
				= metadata.siteTitle
				span.u-visually-hidden ホーム
			div
				ul.u-cluster.u-cluster--space-x-4
					each styleGuide in eleventyNavigation(collections.all, 'スタイルガイド').filter(page => page.url)
						li
							a(href=url(styleGuide.url))= styleGuide.title
