extends /layouts/base

block content
	main
		+page-header({ title })

		div(class="container max-w-4xl")
			ol(class="divide-y")
				each page in Array.from(collections.news).reverse()
					li
						a(class="flex justify-between items-center gap-x-6 py-3", href=f.url(page.url))
							= page.data.title
							time(class="text-sm", datetime=page.date.toISOString())
								= page.date.toLocaleDateString("ja-JP", { dateStyle: "long" })
