@use "../../styles/settings" as s;
@use "../../styles/tools" as t;

.c-the-site-modal-menu {
	position: fixed;
	inset: 0;
	z-index: 20;
	color: hsl(0, 0%, 100%);
	background-color: hsl(0, 0%, 10%);

	&.is-transition-enter {
		opacity: 0;
		transform: translateY(s.$spacer-016);
	}

	&.is-transition-enter-active {
		opacity: 1;
		transition: opacity 300ms ease-out, transform 300ms ease-out;
		transform: none;
	}

	&.is-transition-leave {
		opacity: 1;
	}

	&.is-transition-leave-active {
		opacity: 0;
		transition: opacity 250ms ease-out, transform 250ms ease-out;
		transform: translateY(s.$spacer-016);
	}
}

.c-the-site-modal-menu__head {
	border-bottom: 1px solid hsla(0, 0%, 100%, 15%);
}
