// https://chromium.googlesource.com/chromium/src/+/refs/heads/main/third_party/blink/renderer/core/html/resources/html.css
// https://trac.webkit.org/browser/trunk/Source/WebCore/css/html.css
// https://searchfox.org/mozilla-central/source/layout/style/res/html.css

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
blockquote,
ol,
ul,
dl,
dd,
figure,
pre {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

hr {
	border: 0;
}

ol,
ul {
	padding: 0;
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

u,
ins {
	text-decoration: none;
}

strong,
b {
	font-weight: inherit;
}

i,
cite,
em,
var,
address,
dfn {
	font-style: inherit;
}

code,
kbd,
samp {
	font-size: inherit;
}

mark {
	color: inherit;
	background-color: transparent;
}

small {
	font-size: inherit;
}

s,
del {
	text-decoration: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	border-color: currentColor;
}

td,
th {
	padding: 0;
}

th {
	font-weight: inherit;
	text-align: inherit;
}

input,
select,
button,
textarea {
	padding: 0;
	font: inherit;
	color: inherit;
	letter-spacing: inherit;
	background-color: transparent;
	border: 0;
}

button {
	text-align: inherit;
}

[type="search" i] {
	-webkit-appearance: textfield;
}

select {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}
