@use "../../styles/settings" as s;
@use "../../styles/tools" as t;

.c-base-button {
	display: inline-flex;
	padding: s.$spacer-4 s.$spacer-12;
	color: hsl(0, 0%, 100%);
	vertical-align: middle;
	background-color: hsl(214, 73%, 45%);
	border-radius: t.rem(4);
	box-shadow: 0 t.rem(2) t.rem(4) hsla(0, 0%, 0%, 15%);
}
