mixin c-the-page-foot(props = {})
	-
		props = Object.assign({}, props);

		const items = [
			['サービス', '/services/'],
			['私たちについて', '/about/'],
			['ソースコード', 'https://github.com/yuheiy/shifted', true]
		];

	footer.c-the-page-foot&attributes(attributes)
		.o-wrapper
			ul.o-cluster
				each item in items
					li(class=item[2] && 'u-ml-auto')
						a.u-d-block.u-py-012(href=f.url(item[1]))= item[0]
