@use "../styles/abstracts" as *;

.post-card {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	box-shadow: 0 2px 4px 1px hsla(0, 0%, 0%, 0.1);
	border-radius: 0.25rem;
}

.post-card img {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.post-card__body {
	flex: auto;
	padding: $spacing-4;
}

.post-card h3 {
	font-size: 1.25rem;
	font-weight: bold;
	color: hsla(0, 0%, 0%, 0.87);
}

.post-card h3 a::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.post-card p {
	font-size: 0.875rem;
	color: hsla(0, 0%, 0%, 0.6);
}

.post-card h3 + p {
	line-height: 1.7;
}

.post-card__tag {
	padding: $spacing-1 $spacing-3;
	font-size: 0.875rem;
	color: hsla(0, 0%, 0%, 0.6);
	background-color: hsl(0 0% 96%);
	border-radius: 99rem;
}
