:root {
	--page-header-height: 2.75rem;
}

html {
	@apply not-kerning;
	line-break: normal;
	text-underline-offset: 0.125em;
	overflow-wrap: break-word;
}

/* https://schepp.dev/posts/smooth-scrolling-and-page-search/ */
html:focus-within {
	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

body {
	padding-top: var(--page-header-height);
}

/* https://css-tricks.com/a-clever-sticky-footer-technique/ */
html,
body {
	height: 100%;
}

svg {
	max-width: 100%;
	height: auto;
}

button,
input,
optgroup,
select,
textarea {
	font: inherit;
	letter-spacing: inherit;
}

select {
	appearance: none;
}

[id] {
	scroll-margin-top: calc(var(--page-header-height) + 1rem);
}

[x-cloak] {
	display: none !important;
}
