/* https://css-tricks.com/a-clever-sticky-footer-technique/ */
html,
body {
	height: 100%;
}

/* https://github.com/WICG/focus-visible#2-update-your-css */
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

img,
video {
	object-fit: cover;
}
