/* https://css-tricks.com/a-clever-sticky-footer-technique/ */
html,
body {
	height: 100%;
}

/* https://www.tpgi.com/focus-visible-and-backwards-compatibility/ */
:focus:not(.focus-visible) {
	outline: none;
}

:focus:not(:focus-visible) {
	outline: none;
}

img,
video {
	object-fit: cover;
}
