html {
	font-family: sans-serif;
	text-align: start;
	text-underline-offset: 0.125em;
	line-break: normal;

	// https://twitter.com/monokano/status/1304308103505014784
	&:is(:lang(zh), :lang(ja), :lang(ko)) {
		font-kerning: none;
	}
}
