// https://every-layout.dev/layouts/grid/

@use "../settings" as s;
@use "../tools" as t;

.o-grid {
	--o-grid__min-cell-width: #{t.rem(256)};

	display: grid;
	// https://github.com/kristerkari/stylelint-scss/issues/486
	// stylelint-disable scss/no-global-function-names
	grid-template-columns: repeat(
		auto-fill,
		minmax(min(var(--o-grid__min-cell-width), 100%), 1fr)
	);
	// stylelint-enable scss/no-global-function-names
	gap: s.$spacer-16;
}
