// https://every-layout.dev/layouts/switcher/

@use "../settings" as s;
@use "../tools" as t;

.o-switcher {
	--o-switcher__threshold: #{t.rem(512)};

	display: flex;
	flex-wrap: wrap;
	gap: s.$spacer-016;

	> :where(*) {
		flex-basis: calc((var(--o-switcher__threshold) - 100%) * 999);
		flex-grow: 1;
	}
}
