@use "../../styles/settings" as s;
@use "../../styles/tools" as t;

.c-service-card {
	display: block;
	color: hsl(0, 0%, 0%);
	background-color: hsl(0, 0%, 100%);
	border-radius: t.rem(4);
	box-shadow: 0 t.rem(2) t.rem(4) hsla(0, 0%, 0%, 15%);
}

.c-service-card__media {
	width: 100%;
	border-top-left-radius: t.rem(4);
	border-top-right-radius: t.rem(4);
}
