extends /layouts/base

block content
	main
		article(class="container max-w-xl")
			header
				h1(class="mt-16 text-xl font-bold")= title
				p(class="mt-2 text-sm")
					time(datetime=page.date.toISOString())
						= page.date.toLocaleDateString("ja-JP", { dateStyle: "long" })

			div(class="mt-8 mb-12 border-t")

			div(class="prose")
				!= content
