@use "sass:map";
@use "../settings/mq" as s-mq;

@forward "../node_modules/sass-mq/mq" show mq with (
	$mq-breakpoints: s-mq.$mq-breakpoints
);

@function breakpoint-suffix($key) {
	$value: map.get(s-mq.$mq-breakpoints, $key);
	// stylelint-disable length-zero-no-unit
	$at-media: $value != 0px;
	// stylelint-enable length-zero-no-unit

	@if $at-media {
		@return "\\@#{$key}";
	}

	@return null;
}

// https://css-irl.info/detecting-hover-capable-devices/
@mixin hoverable() {
	@media (hover: hover) and (pointer: fine) {
		@content;
	}
}
