div(x-dialog, x-model="open")
	div(class="fixed inset-0 z-50 bg-black/50", x-dialog:overlay, x-transition.opacity)

	div(
		class="fixed inset-0 z-50 left-16 overflow-auto max-w-2xl ml-auto py-3 bg-white",
		x-dialog:panel,
		x-transition:enter="transition duration-200",
		x-transition:enter-start="translate-x-full",
		x-transition:enter-end="translate-x-0",
		x-transition:leave="transition duration-200",
		x-transition:leave-start="translate-x-0",
		x-transition:leave-end="translate-x-full"
	)
		div(hidden, x-dialog:title) メニュー

		div(class="px-5")
			button(class="px-2 py-1 border rounded", type="button", @click="$dialog.close()") 閉じる

		ul(class="mt-3 divide-y")
			each item, i in menuItems
				li
					a(class="block px-5 py-3", href=item[1])
						= item[0]
