mixin page-header(props = {})
	-
		props = Object.assign({}, props);

	div(class="py-16")&attributes(attributes)
		h1(class="container w-fit text-5xl text-slate-700 font-bold")= props.title
		if props.description
			p(class="container w-fit max-w-2xl mt-6")= props.description
