@use "abstracts" as *;

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-family: sans-serif;
	line-height: 1.5;
	text-align: left;
	line-break: normal;
	word-wrap: break-word;
	text-underline-offset: 0.125em;
}

// https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
:focus:not(:focus-visible) {
	outline: 0;
}

:target {
	scroll-margin-top: $spacing-4;
}

body {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
blockquote,
ol,
ul,
dl,
dd,
figure,
pre {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

hr {
	border: 0;
}

ol,
ul {
	padding: 0;
}

li {
	// https://standard.shiftbrain.com/blog/reset-and-restore-list-item-marker
	list-style-type: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

u,
ins {
	text-decoration: none;
}

strong,
b {
	font-weight: inherit;
}

i,
cite,
em,
var,
address,
dfn {
	font-style: inherit;
}

code,
kbd,
samp {
	font-size: inherit;
}

mark {
	color: currentColor;
	background-color: transparent;
}

small {
	font-size: inherit;
}

s,
del {
	text-decoration: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	max-width: 100%;
}

img,
svg,
video,
canvas {
	height: auto;
}

audio {
	width: 100%;
}

svg {
	fill: currentColor;
}

table {
	border-color: currentColor;
	border-spacing: 0;
	border-collapse: collapse;
}

td,
th {
	padding: 0;
}

th {
	font-weight: inherit;
	text-align: inherit;
}

input,
textarea,
select,
button {
	padding: 0;
	font: inherit;
	letter-spacing: inherit;
	color: currentColor;
	background-color: transparent;
	border: 0;
}

input[type="search"] {
	-webkit-appearance: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	text-align: inherit;
}

button:not(:disabled):not([aria-disabled="true"]) {
	cursor: pointer;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
}

::-ms-expand {
	display: none;
}

textarea {
	resize: vertical;
}

fieldset {
	min-width: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

[hidden][hidden] {
	display: none !important;
}
