extends /layouts/base

block main
	h1.visually-hidden= `${metadata.siteTitle} ホーム`

	section.center
		h2 スタイルガイド

		ul.mt-4
			each styleGuide in eleventyNavigation(collections.all, 'スタイルガイド').filter(page => page.url)
				li
					a(href=url(styleGuide.url), style="text-decoration: underline")= styleGuide.title

block after-main
	if env.isDev
		div(
			style="position: fixed; right: 0; bottom: 0; margin: 1rem; padding: 0.5rem 0.75rem; color: #fff; background-color: #111"
		) 開発用ビルド
