name: Format Code

on: push

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    format:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - name: Setup node
              uses: actions/setup-node@v2
              with:
                  node-version-file: .nvmrc
                  cache: npm

            - run: npm install

            - run: npm run format

            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: "[ci] npm run format"
