name: Format Code

on: push

jobs:
    format:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version-file: ".nvmrc"
            - run: npm install
            - run: npm run format
              continue-on-error: true
            - uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: "[ci] npm run format"
