@use "../abstracts" as *;

/**
 * Usage:
 *
 * <div class="u-overflow-hidden">
 *   <div class="u-cluster u-cluster--space-3 u-justify-center">
 *     <div class="c-my-component">Foo</div>
 *     <div class="c-my-component">Bar</div>
 *     <div class="c-my-component">Baz</div>
 *   </div>
 * </div>
 *
 * Variants:
 *
 * <div class="u-justify-{value}"></div>
 * <div class="u-justify-{value}@{breakpoint}"></div>
 */

$justify-values: (
	start: flex-start,
	end: flex-end,
	center: center,
	between: space-between,
);

@each $breakpoint-name, $breakpoint in $mq-breakpoints {
	$breakpoint-suffix: if($breakpoint, "\\@#{$breakpoint-name}", null);

	@include breakpoint($breakpoint-name) {
		@each $name, $value in $justify-values {
			$base: u-justify-#{$name};

			.#{$base}#{$breakpoint-suffix} {
				justify-content: $value;
			}
		}
	}
}

/**
 * Usage:
 *
 * <div class="u-overflow-hidden">
 *   <div class="u-cluster u-cluster--space-3 u-items-center">
 *     <div class="c-my-component">Foo</div>
 *     <div class="c-my-component">Bar</div>
 *     <div class="c-my-component">Baz</div>
 *   </div>
 * </div>
 *
 * Variants:
 *
 * <div class="u-items-{value}"></div>
 * <div class="u-items-{value}@{breakpoint}"></div>
 */

$items-values: (
	start: flex-start,
	end: flex-end,
	center: center,
	baseline: baseline,
	stretch: stretch,
);

@each $breakpoint-name, $breakpoint in $mq-breakpoints {
	$breakpoint-suffix: if($breakpoint, "\\@#{$breakpoint-name}", null);

	@include breakpoint($breakpoint-name) {
		@each $name, $value in $items-values {
			$base: u-items-#{$name};

			.#{$base}#{$breakpoint-suffix} {
				align-items: $value;
			}
		}
	}
}
