/**
 * Usage:
 *
 * <div class="center">
 *   <div class="my-component">Foo</div>
 *   <div class="my-component">Bar</div>
 *   <div class="my-component">Baz</div>
 * </div>
 */

@use "../abstracts" as *;

.center {
	box-sizing: content-box;
	display: block;
	max-width: 60rem;
	margin-right: auto;
	margin-left: auto;
	padding-right: $spacing-5;
	padding-left: $spacing-5;
}
