/**
 * Usage:
 *
 * <div class="hidden block@md">Hello</div>
 *
 * Display variants:
 *
 * <div class="{value}"></div>
 * <div class="{value}@{breakpoint}"></div>
 */

@use "../abstracts" as *;

$display-values: (
	block: block,
	inline: inline,
	hidden: none,
	inline-block: inline-block,
);

@each $breakpoint-name, $breakpoint in $mq-breakpoints {
	$breakpoint-suffix: if($breakpoint, "\\@#{$breakpoint-name}", null);

	@include breakpoint($breakpoint-name) {
		@each $name, $value in $display-values {
			$base: $name;

			.#{$base}#{$breakpoint-suffix} {
				display: $value;
			}
		}
	}
}
