/**
 * Usage:
 *
 * <div class="frame frame--ratio-16x9">
 *   <img src="https://source.unsplash.com/random" alt="" decoding="async">
 * </div>
 */

@use "sass:list";
@use "../abstracts" as *;

.frame {
	position: relative;
	display: block;
}

.frame > * {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.frame > img,
.frame > video,
.frame > iframe {
	width: 100%;
	height: 100%;
}

.frame > img,
.frame > video {
	// https://github.com/fregante/object-fit-images
	object-fit: cover;
	font-family: "object-fit: cover;";
}

/**
 * Ratio variants:
 *
 * <div class="frame frame--ratio-{x}x{y}"></div>
 * <div class="frame frame--ratio-{x}x{y}@{breakpoint}"></div>
 */

// https://material.io/design/layout/spacing-methods.html#containers-and-ratios
$aspect-ratios: ((16, 9), (3, 2), (4, 3), (1, 1), (3, 4), (2, 3));

@each $breakpoint-key, $breakpoint in $mq-breakpoints {
	$breakpoint-suffix: if($breakpoint, "\\@#{$breakpoint-key}", null);

	@include breakpoint($breakpoint-key) {
		@each $aspect-ratio in $aspect-ratios {
			$x: list.nth($aspect-ratio, 1);
			$y: list.nth($aspect-ratio, 2);
			$name: ratio-#{$x}x#{$y};

			.frame--#{$name}#{$breakpoint-suffix} {
				padding-top: percentage($y / $x);
			}
		}
	}
}
