/**
 * Usage:
 *
 * <div class="u-frame u-frame--ratio-16x9">
 *   <img src="https://source.unsplash.com/random" alt="" decoding="async">
 * </div>
 */

@use "sass:list";
@use "../abstracts" as *;

.u-frame {
	position: relative;
	display: block;
}

.u-frame > * {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.u-frame > img,
.u-frame > video,
.u-frame > iframe {
	width: 100%;
	height: 100%;
}

.u-frame > img,
.u-frame > video {
	// https://github.com/fregante/object-fit-images
	object-fit: cover;
	font-family: "object-fit: cover;";
}

/**
 * Ratio variants:
 *
 * <div class="u-frame u-frame--ratio-{x-value}x{y-value}"></div>
 * <div class="u-frame u-frame--ratio-{x-value}x{y-value}@{breakpoint}"></div>
 */

// https://material.io/design/layout/spacing-methods.html#containers-and-ratios
$aspect-ratios: ((16, 9), (3, 2), (4, 3), (1, 1), (3, 4), (2, 3));

@each $breakpoint-name, $breakpoint in $mq-breakpoints {
	$breakpoint-suffix: if($breakpoint, "\\@#{$breakpoint-name}", null);

	@include breakpoint($breakpoint-name) {
		@each $value in $aspect-ratios {
			$x: list.nth($value, 1);
			$y: list.nth($value, 2);
			$base: u-frame--ratio-#{$x}x#{$y};

			.#{$base}#{$breakpoint-suffix} {
				padding-top: percentage($y / $x);
			}
		}
	}
}
