@use "../abstracts" as *;

/**
 * Usage:
 *
 * <div class="mt-4">foo</div>
 * <div class="mt-3 mt-6@md">bar</div>
 *
 * Variants:
 *
 * <div class="mt-{value}"></div>
 * <div class="mt-{value}@{breakpoint}"></div>
 */

@each $breakpoint-name, $breakpoint in $mq-breakpoints {
	$breakpoint-suffix: if($breakpoint, "\\@#{$breakpoint-name}", null);

	@include breakpoint($breakpoint-name) {
		@each $name, $value in $spacings {
			$base: mt-#{$name};

			.#{$base}#{$breakpoint-suffix} {
				margin-top: $value;
			}
		}
	}
}

/**
 * Usage:
 *
 * <div class="stack-split stack-2">
 *   <div>foo</div>
 *   <div class="mb-auto">bar</div>
 *   <div>baz</div>
 * </div>
 *
 * Variants:
 *
 * <div class="mb-{value}"></div>
 * <div class="mb-{value}@{breakpoint}"></div>
 */

$margin-bottom-values: (
	0: 0,
	auto: auto,
);

@each $breakpoint-name, $breakpoint in $mq-breakpoints {
	$breakpoint-suffix: if($breakpoint, "\\@#{$breakpoint-name}", null);

	@include breakpoint($breakpoint-name) {
		@each $name, $value in $margin-bottom-values {
			$base: mb-#{$name};

			.#{$base}#{$breakpoint-suffix} {
				margin-bottom: $value;
			}
		}
	}
}
