/**
 * Usage:
 *
 * <div class="overflow-hidden">
 *   <div class="cluster cluster--s3">
 *     <div class="my-component">Foo</div>
 *     <div class="my-component">Bar</div>
 *     <div class="my-component">Baz</div>
 *   </div>
 * </div>
 *
 * Overflow variants:
 *
 * <div class="overflow-{value}"></div>
 * <div class="overflow-{value}@{breakpoint}"></div>
 */

@use "../abstracts" as *;

$overflow-values: (
	visible: visible,
	hidden: hidden,
	auto: auto,
);

@each $breakpoint-name, $breakpoint in $mq-breakpoints {
	$breakpoint-suffix: if($breakpoint, "\\@#{$breakpoint-name}", null);

	@include breakpoint($breakpoint-name) {
		@each $name, $value in $overflow-values {
			$base: overflow-#{$name};

			.#{$base}#{$breakpoint-suffix} {
				overflow: $value;
			}
		}
	}
}
