/**
 * Usage:
 *
 * <div class="u-stack-3 u-stack-6@md">
 *   <div class="c-my-component">Foo</div>
 *   <div class="c-my-component">Bar</div>
 *   <div class="c-my-component">Baz</div>
 * </div>
 */

@use "../abstracts" as *;

/**
 * Spacing variants:
 *
 * <div class="u-stack-{value}"></div>
 * <div class="u-stack-{value}@{breakpoint}"></div>
 */

@each $breakpoint-name, $breakpoint in $mq-breakpoints {
	$breakpoint-suffix: if($breakpoint, "\\@#{$breakpoint-name}", null);

	@include breakpoint($breakpoint-name) {
		@each $name, $value in $spacings {
			$base: u-stack-#{$name};

			.#{$base}#{$breakpoint-suffix} > * + * {
				margin-top: $value;
			}
		}
	}
}

/**
 * Split variants:
 *
 * <div class="u-stack-split"></div>
 */

.u-stack-split {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.u-stack-split:first-child:last-child {
	height: 100%;
}

.u-stack-split > * {
	// In Internet Explorer 10-11, column flex items don’t always preserve
	// intrinsic aspect ratios. This bug can be avoided by `flex-shrink: 0`.
	// https://github.com/philipwalton/flexbugs#flexbug-5
	flex-shrink: 0;
}
