/**
 * Usage:
 *
 * <div class="u-overflow-hidden">
 *   <div class="u-switcher u-switcher--row@md u-switcher--space-3 u-switcher--space-5@md u-items-center">
 *     <div class="c-my-component">Foo</div>
 *     <div class="c-my-component">Bar</div>
 *     <div class="c-my-component">Baz</div>
 *   </div>
 * </div>
 */

@use "../abstracts" as *;

.u-switcher {
	display: flex;
	flex-wrap: wrap;
}

// By default, flex items won’t shrink below their minimum content size
// (the length of the longest word or fixed-size element). To change this,
// set the min-width or min-height property.
// https://www.w3.org/TR/css-flexbox-1/#flex-common
.u-switcher > * {
	flex: 100%;
	min-width: 0;
}

/**
 * Row variants:
 *
 * <div class="u-switcher u-switcher--row"></div>
 * <div class="u-switcher u-switcher--row@{breakpoint}"></div>
 */

@each $breakpoint-name, $breakpoint in $mq-breakpoints {
	$breakpoint-suffix: if($breakpoint, "\\@#{$breakpoint-name}", null);

	@include breakpoint($breakpoint-name) {
		$base: u-switcher--row;

		.#{$base}#{$breakpoint-suffix} > * {
			flex: 1;
		}
	}
}

/**
 * Spacing variants:
 *
 * <div class="u-switcher u-switcher--space-{value}"></div>
 * <div class="u-switcher u-switcher--space-{value}@{breakpoint}"></div>
 */

@each $breakpoint-name, $breakpoint in $mq-breakpoints {
	$breakpoint-suffix: if($breakpoint, "\\@#{$breakpoint-name}", null);

	@include breakpoint($breakpoint-name) {
		@each $name, $value in $spacings {
			$base: u-switcher--space-#{$name};

			.#{$base}#{$breakpoint-suffix} {
				margin: ($value / 2 * -1);
			}

			.#{$base}#{$breakpoint-suffix} > * {
				margin: ($value / 2);
			}
		}
	}
}
