.visually-hidden {
	// https://github.com/ampproject/amphtml/blob/0222243cc2c4cf39f1dbefcfd3b196450f5f0b97/css/ampshared.css#L197-L227
	position: fixed;
	top: 0px;
	left: 0px;
	width: 4px;
	height: 4px;
	opacity: 0;
	overflow: hidden;
	border: none;
	margin: 0;
	padding: 0;
	display: block;
	visibility: visible;

	// override
	pointer-events: none;
}
